@font-face {
    font-family: "Gill Sans";
    font-style: normal;
    src: url(../fonts/GillSans.woff2),
    url(../fonts/GillSans.woff);
}

@font-face {
    font-family: "Gill Sans";
    font-weight: 700;
    src: url(../fonts/GillSans-Bold.woff2),
    url(../fonts/GillSans-Bold.woff);
}

@font-face {
    font-family: "IBM Plex Serif";
    font-style: normal;
    src: url(../fonts/IBMPlexSerif-Regular.woff2),
    url(../fonts/IBMPlexSerif.woff);
}

@font-face {
    font-family: "IBM Plex Serif";
    font-weight: 700;
    src: url(../fonts/IBMPlexSerif-Bold.woff2),
    url(../fonts/IBMPlexSerif-Bold.woff);
}