.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #fffff3;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: #fffff3;
  text-decoration: none;
}

.container {
  padding: 0 20px;
}

.button {
  display: block;
  padding: 12px 16px;
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  color: #2e1516;
  background: #fffff3;
  border-radius: 40px;
}

@media (min-width: $tablet-width) {
  .container {
    padding: 0 30px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    margin: 0 auto;
    padding: 0;
    max-width: 1240px;
  }
  .button {
    padding: 14px 20px;
    font-size: 20px;
    line-height: 23px;
    &:hover {
      box-shadow: 0px 0px 25px rgba(255, 255, 243, 0.6);
      transition: 0.7s;
    }
  }
}
